@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #ff0000 !important;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
}
.d_services .row{
    align-items: center;
}
.sec_encabezado {
    background-image: url(./imagenes/img1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:5%;
    padding-bottom: 5%;
    margin: 0px;
    width: 100%;
}
.info-encabezado{
    margin: 0px 8%;
}

.h_titulo {
    color: #ff0000;
    text-shadow: -1px 2px 6px #fafafa;
    font-weight: 700;
    font-family: cursive,"Lato", sans-serif;
    text-decoration: underline;
}

.parraf_1 {
    font-weight: 400;
    text-align: center;
    font-family: cursive,"Lato", sans-serif;
    color: #000000;
    text-shadow: -1px 2px 6px #fafafa;
    margin: 2% 5%;
}

.sec_servicios {
    background: #fff;
    min-height: 100vh;
    margin: 3% auto;
}

.h_servicios {
    font-size: 2em;
    font-family: cursive,"Lato", sans-serif;
    text-decoration: underline;
    text-align: center;
}
.h_galeria{
    font-size: 2em;
    font-family: 'Playfair Display', 'Lora', serif;
    text-decoration: underline;
    text-align: center;
}

.container {
    margin: 5px;
}
.sec_contacto{
    margin: auto;
}
.h_contactos,.h_ubicacion,.h_socios{
    font-size: 2em;
    color: #fff;
    font-family: cursive,"Lato", sans-serif;
    text-decoration: underline;
}

/* Estilos para la sección de contacto */
.sec_contacto {
    background-color: #000;
    padding: 20px;
    text-align: center;
    margin: 0px;
}


.icon_contact {
    font-size: 18px; /* Tamaño de fuente del texto de contacto */
    margin: 20px; /* Espaciado inferior del texto de contacto */
    text-align: center;
    color: #fff;
}

.img-icon-contact {
    width: 20px; /* Tamaño de la imagen de contacto */
    margin-left:10px; /* Espaciado a la izquierda de la imagen de contacto */
}


/* Estilos adicionales para mejorar la legibilidad en dispositivos pequeños */
@media (max-width: 768px) {
    .h_contactos,
    .h_ubicacion,.h_socios {
        font-size: 20px; /* Ajuste de tamaño de fuente para dispositivos pequeños */
    }

    .icon_contact {
        font-size: 16px; /* Ajuste de tamaño de fuente para dispositivos pequeños */
    }
}

.card-title{
    font-family: cursive;
}

.card-text{
    font-family: system-ui;
    text-align: justify;
    margin: 15px auto !important;
}

.content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.9s ease;
  }

  /* Ocultar el botón cuando no se necesite */
  .read-more-btn {
    display: none;
    cursor: pointer;
    color: #ff0000;
    text-decoration: underline;
  }

  /* Mostrar botón en pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .content {
      -webkit-line-clamp: 10; /* Número de líneas mostradas */
      max-height: 4.5em; /* Ajustar el alto según el número de líneas */
    }

    .read-more-btn {
      display: inline;
    }
  }

  /* Expansión completa */
  .content.expanded {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    max-height: none;
  }

  .img-web{
    position: relative;
    width: 40%; 
  }